<% layout('layouts/boilerplate') %>
    <link rel="stylesheet" href="/stylesheets/pages.css">

    <div id="cluster-map"></div>
<div class="card">
    <div class="card-body">
        <h1>TravelNet</h1>
        <a href="/travelnet/new" class="btn btn-outline-success mb-3">Add a new location</a>
    </div>
</div>
    <% for(camp of campground){%>
        <div class="card">
            <div class="row">
                <div class="col-md-4">
                    <% if(camp.image.length){ %>
                        <img class="img-fluid" alt="" src="<%=camp.image[0].url%> ">
                        <% }else{%>
                            <img class="img-fluid" alt=""
                                src="https://res.cloudinary.com/lorenyan/image/upload/v1635724406/TravelNet/amtwvixw3hdqa2mxmh6g.jpg">
                            <% } %>
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">
                            <%=camp.title %>
                        </h5>
                        <p class="card-text">
                            <%=camp.description %>
                        </p>
                        <a href="/travelnet/<%=camp._id %>" class="btn btn-outline-primary">View <%=camp.title %></a>
                    </div>
                </div>
            </div>

        </div>

        <%} %>
            <script>
                const mapToken = '<%-process.env.MAPBOX_TOKEN%>';
                const campground = { features: <%- JSON.stringify(campground) %>}
            </script>
            <script src="/javascripts/clusterMap.js"></script>